html {
    background: #fff;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}
body {
    margin: 0;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    flex: auto;
}
a {
    color: #fff;
    text-decoration: none;
}
img {
    border: 0;
}
h1 {
    margin-top: 0;
}
form{
    width: -20px;
    height: -10px;
    font-size: 10px;
    color: black;
    display: flex;
    justify-content: end;
    align-items: center;
    background-size: 0;
}
.header{
    width: 100%;
    max-width: 960px;       
    min-width: 430px;
    margin: 0 auto 30px;
    padding: 30px 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}
.logo {
    background: url(img/icon.jpg);
    width: 230px;
    height: 100px;
    margin: 0 10px 40px 0;
    display: flex;
    justify-content: center;
    flex: none;
    align-items: center;
}
.post-date{
    font-size: 16px;
    color: gray;
}
.header-right{
    background: #000;
    min-height: 50px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 40px;
    flex-basis: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-cent{
    background: black;
    color: white;
    min-height: 50px;
    font-size: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-basis: 300px;
    justify-content: center;
    align-items: center;
}
.header-bottom{
    background: #000;
    min-height: 50px;
    font-size: 20px;
    color: #fff;
    flex-basis: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.main{
    width: 100%;
    max-width: 960px;
    min-width: 430px;
    margin: auto;
    flex: auto;
    box-sizing: border-box;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.grid-itm{
    margin-bottom: 30px;
    flex-basis: calc(33.33% - 30px * 2/3);
    display: flex;
    flex-wrap: wrap;
}
.grid-img{
    width: 150px;
    height: 200px;
    background: url(img/gomer.jpg);
    margin: 0 auto 20px;
    flex: 0 1 60%;
}
.grid-title{
    text-align: center;
}
.grid-cont{
    flex: 0 1 100%;
}
.footer{
    background: black;
    color: white;
    width: 100%;
    max-width: 960px;       
    min-width: 430px;
    margin: 0 auto 30px;
    padding: 20px 0 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}